body {background-image:url("https://i.imgur.com/MY2bLJE.png"); 
h1   {color:white;}
p    {color: white;}
div{ color:white; }
alt{ color:white; }
font-family: "manito-lp", sans-serif;
font-weight: 900;
font-style: normal;
body 